@import url('https://fonts.googleapis.com/css2?family=Abel&family=Major+Mono+Display&display=swap');
* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
font-family: 'Major Mono Display', monospace;
}

/* .gradient-bg-welcome {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 0%,  hsla(274,53%,90%,1) 0px, transparent 50%),
    radial-gradient(at 50% 0%, hsla(204,53%,90%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(244,100%,91%,1) 0, transparent 50%);
} */
.gradient-bg-welcome {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 50%, hsla(274,53%,90%,1) 0, transparent 50%),
    radial-gradient(at 50% 100%, rgb(230, 228, 255) 0, transparent 50%);
}
/* .gradient-bg-services {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 50%, hsla(274,53%,90%,1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(244,100%,91%,1) 0, transparent 50%);
} */

.gradient-bg-transactions {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 100%, hsla(274,53%,90%,1) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(230, 228, 255) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 0%, hsla(274,53%,90%,1) 0, transparent 50%), 
    radial-gradient(at 50% 150%, hsla(204,53%,90%,1)0, transparent 80%);
}

.blue-glassmorphism {
  background: rgba(155, 136, 183, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(216, 187, 255);
}
/* .blue-glassmorphism {
  background: rgba(127, 90, 178, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(216, 187, 255);
} */

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.input-morph {
  background-color: #fa751c;
}

.eth-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
    /* background-color:#ec99ff;
    background-image:
    radial-gradient(at 87% 8%, hsla(215,60%,65%,1) 0px, transparent 50%),
    radial-gradient(at 4% 35%, hsla(174,93%,61%,1) 0px, transparent 50%),
    radial-gradient(at 72% 37%, hsla(321,83%,61%,1) 0px, transparent 50%),
    radial-gradient(at 54% 100%, hsla(334,95%,60%,1) 0px, transparent 50%),
    radial-gradient(at 11% 23%, hsla(2,75%,68%,1) 0px, transparent 50%),
    radial-gradient(at 18% 74%, hsla(242,75%,76%,1) 0px, transparent 50%),
    radial-gradient(at 40% 31%, hsla(300,60%,62%,1) 0px, transparent 50%); */
}

.text-gradient {
  background-color: #fa751c;
  background-image: radial-gradient(at 40% 0%, rgb(255 159 40) 0, transparent 60%), radial-gradient(at 45% 100%, rgb(102, 43, 1) 0, transparent 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;