@import url('https://fonts.googleapis.com/css2?family=Abel&family=Major+Mono+Display&display=swap');
* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
font-family: 'Major Mono Display', monospace;
}

.gradient-bg-welcome {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 50%, hsla(274,53%,90%,1) 0, transparent 50%),
    radial-gradient(at 50% 100%, rgb(230, 228, 255) 0, transparent 50%);
}
.gradient-bg-transactions {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 100%, hsla(274,53%,90%,1) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(230, 228, 255) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color:hsla(342,32%,85%,1);
  background-image:
    radial-gradient(at 0% 0%, hsla(274,53%,90%,1) 0, transparent 50%), 
    radial-gradient(at 50% 150%, hsla(204,53%,90%,1) 0, transparent 80%);
}

.blue-glassmorphism {
  background: rgba(162, 162, 162, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid hsla(204,53%,90%,1);
}

.white-glassmorphism {
  background: rgba(162, 162, 162, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background: rgba(162, 162, 162, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-gradient {
  background-color: #fa751c;
  background-image: radial-gradient(at 40% 0%, rgb(255 159 40) 0, transparent 60%), radial-gradient(at 45% 100%, rgb(102, 43, 1) 0, transparent 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;